button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0, 30);
    color: white;
    font-size: 3rem;
    font-weight: pointer;
    cursor: pointor;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;



}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    backround-color: hsl(0 , 0%, 30%)
    border-radius: 15px
    max-width: 300px;
    overflow: hidden;

}
#display{
    width: 50%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0, 25);
color: beige;

}
body{
    display: flex;
    margin: 0;
    justify-items: center;
    height: 100vh;
}
button{
    background-color: hsl(0 , 0%, 40%);
}
button.active{
    background-color: hsl(0 , 0%, 50%);
}

.operator-btn{
    background-color: hsl(0 , 0%, 70%);


}
.operator-btn:hover{

     background-color: hsl(0 , 0%, 80%);


}